@model List<MvcOnlineTicariOtomasyon.Models.Sinfilar.KargoTakip>

@{
    ViewData["Title"] = "CariKargoTakipDetay";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<a href="/CariPanel/KargoTakip">Geri Dön</a>

<div class="table-responsive">
    <table id="tbl1" class="table table-striped table-hover table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Açıklama</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.KargoTakipAciklama</td>
                    <td>@item.KargoTakipTarih.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

