@model IPagedList<MvcOnlineTicariOtomasyon.Models.Sinfilar.Kategori>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="d-flex justify-content-between mt-3 mb-5">
    <h3>Kategori Listesi</h3>
    <a href="/Kategori/KategoriEkle" class="btn btn-success w-25">Yeni Kategori Ekle <i class="fas fa-plus"></i></a>
</div>

<table class="table table-bordered text-center align-middle">
    <thead>
        <tr>
            <th>Kategori Adı</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.KategoriAd</td>
            <td><a href="/Kategori/KategoriGetir/@item.KategoriID" class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
            <td><a href="/Kategori/KategoriSil/@item.KategoriID" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
        </tr>
    }
</table>

@Html.PagedListPager(
        Model,
        sayfa => Url.Action("Index", new { sayfa }),
        new PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        LinkToPreviousPageFormat = "«",
        LinkToNextPageFormat = "»",
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded
    }
    )
