<div class="login-form login-form-left">
	<div class="agile-row">
		<h3>Cari Giriş Formu</h3>
		<span class="fa fa-lock"></span>
		<div class="clear"></div>
		<div class="login-agileits-top">
			@using (Html.BeginForm("CariLogin1", "Login", FormMethod.Post))
			{
				<input type="text" class="name" name="CariMail" Placeholder="Mail" required="" />
				<input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
				<input type="submit" value="Giriş Yap">
			}
			@if (ViewBag.Error != null)
			{
				<p style="color:red">@ViewBag.Error</p>
			}

		</div>
	</div>
</div>