@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Sinfilar.SinifGrup2>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Çalışan Departman Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table id="tbl1" class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Departman</th>
                    <th style="width: 40px">Sayı</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int siraNo = 0;
                }
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@{
                                siraNo++;
                            } @siraNo.</td>
                        <td>@item.Departman</td>
                        <td><span class="badge bg-primary">@item.Adet</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>